<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <servlet-name>MyAccueilController</servlet-name>
    <servlet-class>controller.MyAccueilController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAccueilController</servlet-name>
    <url-pattern>/myaccueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyLoginController</servlet-name>
    <servlet-class>controller.MyLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyLoginController</servlet-name>
    <url-pattern>/mylogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyFormulaireController</servlet-name>
    <servlet-class>controller.MyFormulaireController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFormulaireController</servlet-name>
    <url-pattern>/myformulaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyGestionController</servlet-name>
    <servlet-class>controller.MyGestionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyGestionController</servlet-name>
    <url-pattern>/mygestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyAccesComptesController</servlet-name>
    <servlet-class>controller.MyAccesComptesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAccesComptesController</servlet-name>
    <url-pattern>/myaccescomptes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MySubjectController</servlet-name>
    <servlet-class>controller.MySubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySubjectController</servlet-name>
    <url-pattern>/mysubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyParcoursController</servlet-name>
    <servlet-class>controller.MyParcoursController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyParcoursController</servlet-name>
    <url-pattern>/myparcours</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyQuestionaryController</servlet-name>
    <servlet-class>controller.MyQuestionaryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyQuestionaryController</servlet-name>
    <url-pattern>/myquestionary</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyQuestionController</servlet-name>
    <servlet-class>controller.MyQuestionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyQuestionController</servlet-name>
    <url-pattern>/myquestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecapParcoursController</servlet-name>
    <servlet-class>controller.RecapParcoursController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecapParcoursController</servlet-name>
    <url-pattern>/recapparcours</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JstlController</servlet-name>
    <servlet-class>controller.JstlController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JstlController</servlet-name>
    <url-pattern>/jstl</url-pattern>
  </servlet-mapping>
</web-app>